<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaolei.warehousedemo.mapper.ShelvesMapper">
    <resultMap id="shelves" type="com.xiaolei.warehousedemo.entity.Shelves"/>
    <parameterMap id="shelves" type="com.xiaolei.warehousedemo.entity.Shelves"/>


    <select id="getShelvesBypage" resultType="shelves">
        SELECT * FROM shelves limit #{page},#{size}
    </select>

    <select id="getAllShelves" resultType="shelves">
        SELECT * FROM shelves
    </select>

    <select id="getShelves" resultType="shelves">
    SELECT  * FROM shelves WHERE id=#{id}
    </select>

    <select id="getShelvesBySNumber" resultType="shelves">
    SELECT  * FROM shelves WHERE s_number=#{s_number}
    </select>

    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM  shelves
    </select>

    <insert id="addShelves" parameterType="shelves">
        INSERT INTO shelves (s_number,s_layer,s_column,s_outside,createtime,updatetime) VALUES (#{s_number},#{s_layer},#{s_column},#{s_outside},#{createtime},#{updatetime})
    </insert>

    <delete id="deleteShelvesById" parameterType="int">
        DELETE FROM shelves WHERE id=#{1}
    </delete>

    <update id="updateShelves" parameterType="shelves">
        UPDATE shelves SET
        <if test="s_number!=null">s_number=#{s_number},</if>
        <if test="s_layer!=null">s_layer=#{s_layer},</if>
        <if test="s_column!=null">s_column=#{s_column},</if>
        <if test="s_outside!=null">s_outside=#{s_outside},</if>
        <if test="updatetime!=null">updatetime=#{updatetime}</if>
        WHERE id=#{id}
    </update>

    <select id="getShelvesListBySNumber" resultMap="shelves" parameterType="String">
        SELECT * From shelves WHERE s_number like concat('%',#{1},'%')
    </select>
</mapper>